<%= simple_form_for @profile do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name, placeholder: 'Indtast Fornavn', label: "Fornavn" %>
  <%= f.input :last_name, placeholder: 'Indtast Efternavn', label: "Efternavn" %>
  <%= f.input :address, placeholder: 'Indtast Adresse', label: "Adresse" %>
  <%= f.input :shop, placeholder: 'Indtast Butik', label: "Butik" %>
  <%= f.input :shop_no, placeholder: 'Indtast Butiksnr.', label: "Butiksnr." %>
  <%= f.input :telephone, placeholder: 'Indtast Telefon', label: "Telefon" %>
  <%= f.button :submit, "Opdater profil" %>
<% end %>
