<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=current_user.email%></h3>
    <span class="pull-right"><%= link_to 'Rediger', edit_profile_path, class: 'btn btn-default' %></span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class=" col-md-12 col-lg-12 "> 
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Fornavn</td>
              <td><%= @profile.first_name.present? ? @profile.first_name : "-" %></td>
            </tr>
            <tr>
              <td>Efternavn</td>
              <td><%= @profile.last_name.present? ? @profile.last_name : "-" %></td>
            </tr>
            <tr>
              <td>Adresse</td>
              <td><%= @profile.address.present? ? @profile.address : "-" %></td>
            </tr>
            <tr>
              <td>Butik</td>
              <td><%= @profile.shop.present? ? @profile.shop : "-" %></td>
            </tr>
            <tr>
              <td>Butiksnr.</td>
              <td><%= @profile.shop_no.present? ? @profile.shop_no : "-" %></td>
            </tr>
            <tr>
              <td>Telefon</td>
              <td><%= @profile.telephone.present? ? @profile.telephone : "-" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>