<div id="comment-<%= comment.id %>">
  <strong class="pull-left primary-font"><%= comment.user.comment_name %></strong>
  <% if user_signed_in? && comment.user_id == current_user.id %>
    <small class="pull-right text-muted"> 
      <%= link_to comment_path(comment), method: :delete, data: {confirm: "Tryk OK for at slette ordren"}, remote: true do %>
        <i class="fa fa-times"></i>
      <% end %>
    </small>
  <% end %>
  <small class="pull-right text-muted"> <%= time_ago_in_words(comment.created_at.in_time_zone("CET")) %> siden &nbsp;</small>
  </br>
  <li class="ui-state-default pb-20"><%= comment.comment %></li>
</div>