<%= form_for(([commentable, comment]), remote: true) do |f| %>
  <div class="input-group">
    <%= f.text_field :comment, class: "form-control input-sm chat-input", placeholder: "Skriv din besked her..." %>
    <span class="input-group-btn">     
      <%= f.submit "Tilføj kommentar", class: "btn btn-primary btn-sm"%>
    </span>
  </div>
<% end %>