<p id="notice"><%= notice %></p>

<h1>Listing Order Admin Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_admin_attachments.each do |order_admin_attachment| %>
      <tr>
        <td><%= order_admin_attachment.order_id %></td>
        <td><%= order_admin_attachment.image %></td>
        <td><%= link_to 'Show', order_admin_attachment %></td>
        <td><%= link_to 'Edit', edit_order_admin_attachment_path(order_admin_attachment) %></td>
        <td><%= link_to 'Destroy', order_admin_attachment, method: :delete, data: { confirm: 'Tryk OK for at slette ordren' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order admin attachment', new_order_admin_attachment_path %>
