<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_admin_attachment.order_id %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @order_admin_attachment.image %>
</p>

<%= link_to 'Edit', edit_order_admin_attachment_path(@order_admin_attachment) %> |
<%= link_to 'Back', order_admin_attachments_path %>
