<% if @packages.present? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th width='70%'><%= sortable "name", "Navn", "Package" %></th>
          <th><%= sortable "price", "Pris", "Package" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @packages.each do |package| %>
          <tr>
            <td><%= package.name %></td>
            <td><%= danish_currency(package.price) %></td>
            <td><%= link_to "Vælg", package, class: "btn btn-xs btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@packages, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm") %>
  </div>
<% else %>
  <div class="well well">
    <h5>There are no packages present for your user group.</h5>
  </div>
<% end %>
