<h2> 
  <%= @package.name %> 
  <% if @package.extras.count > 0 %>
    <%= link_to "Bestil", "#", class: "btn btn-primary", 'data-toggle': "modal", 'data-target': "#myModal" %> 
  <% else %>
    <%= link_to "Bestil", new_order_path(package_id: @package.id), class: "btn btn-primary" %> 
  <% end %>
</h2>
<h4><%= danish_currency(@package.price).html_safe %></h4>
<p> <%= raw(@package.description) %> </p>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag ("/orders/new"), method: :get do %>
      <%= hidden_field_tag "package_id", @package.id %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Vælg ekstra produkter</h4>
        </div>
        <div class="modal-body">
            <ul class="row config-list"> 
              <% @package.extras.each do |extra| %>
                <li>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                    <strong class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                      <%= extra.name %>
                    </strong>
                    <strong class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                      <%= danish_currency(extra.price) %>
                    </strong>
                    <div class ="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                      <%= check_box_tag 'extra_ids[]', extra.id %>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                    <p class="small col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                      <%= extra.description %>
                    </p>
                  </div>
                </li>
              <% end %>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tilbage</button>
          <%= submit_tag 'Angiv bestilling', class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>