<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= params[:controller] == 'welcome' && params[:action] == 'index' && (params[:state].nil? || params[:state] == 'ordered') ? 'active' : '' %>"><%= link_to "Bestilte", root_path(state: "ordered", q: params[:q]) %></li>
    <li role="presentation" class="<%= params[:controller] == 'welcome' && params[:action] == 'index' && params[:state] == 'booked' ? 'active' : '' %>"><%= link_to "Bookede", root_path(state: "booked", q: params[:q]) %></li>
    <li role="presentation" class="<%= params[:controller] == 'welcome' && params[:action] == 'index' && params[:state] == 'completed' ? 'active' : '' %>"><%= link_to "Færdige", root_path(state: "completed", q: params[:q]) %></li>
  </ul>
  <br/>
</div>
<% if @orders.present? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= sortable "address", "Adresse", "Order" %></th>
          <th><%= sortable "case_number", "Sagsnummer", "Order" %></th>
          <% unless params[:state] == "booked" %>
            <th><%= sortable "updated_at", "Senest opdateret", "Order" %></th>
          <% else %>
            <th><%= sortable "delivery_time", "Booket til", "Order" %></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.address %></td>
            <td><%= order.case_number %></td>
            <% unless params[:state] == "booked" %>
            <td><%= order.updated_at.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") %></td>
            <% else %>
              <td><%= order.delivery_time.present? ? order.delivery_time.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") : "-" %></td>
            <% end %>
            <td>
              <%= link_to "Detaljer", order, class: "btn btn-xs btn-primary" %>
              <% if order.ordered? %>
                <%= link_to "Rediger", edit_order_path(order), class: "btn btn-xs btn-info" %>
                <%= link_to "Slet", order, method: :delete, data: {confirm: "Tryk OK for at slette ordren"}, class: "btn btn-xs btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@orders, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm", state: params[:state]) %>
  </div>
<% end %>