<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Ordre oversigt</h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed small ">
      <thead>
        <tr>
          <th width="40%">Navn</th>
          <th>Antal</th>
          <th>Enhedspris</th>
          <th>Beløb</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% order.shopping_cart_items.packages.each do |cart_line_item| %>
          <tr class="active">
            <td><%= cart_line_item.item.name %></td>
            <td>x<%= cart_line_item.quantity %></td>
            <td><%= danish_currency(cart_line_item.price) %></td>
            <td><%= danish_currency(cart_line_item.subtotal) %></td>
            <td>
              <%= link_to(cart_line_item, { data: { confirm: "Er du sikker på du ønsker at fjerne pakken '#{cart_line_item.item.name}' fra din ordre (Advarsel: Alle Extras tilføjet med denne pakke vil også blive fjernet)?" }, method: :delete, remote: true}) do %>
                <i class="fa fa-times"></i>
              <% end %>
            </td>
          </tr>
          <% cart_line_item.extras.each do |cart_line_item| %>
            <tr>
              <td><%= cart_line_item.item.name %></td>
              <td>x<%= cart_line_item.quantity %></td>
              <td><%= danish_currency(cart_line_item.price) %></td>
              <td><%= danish_currency(cart_line_item.subtotal) %></td>
              <td>
                <%= link_to(cart_line_item, { data: { confirm: "Er du sikker på at du ønsker at fjerne ekstra element '#{cart_line_item.item.name}' fra din ordre?" }, method: :delete, remote: true}) do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% order.shopping_cart_items.additions.each do |cart_line_item| %>
          <tr>
            <td><%= cart_line_item.item.note %></td>
            <td>x<%= cart_line_item.quantity %></td>
            <td><%= danish_currency(cart_line_item.price) %></td>
            <td><%= danish_currency(cart_line_item.subtotal) %></td>
            <td>
            </td>
          </tr>
        <% end %>
        <br/>
        <tr>
          <td></td>
          <td colspan='2'>
            <strong>Subtotal</stong>
          </td>
          <td>
            <%= danish_currency(order.subtotal) %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan='2'>
            <strong>Moms (<%= order.tax_pct %>%)</stong>
          </td>
          <td>
            <%= danish_currency(order.taxes) %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan='2'>
            <strong>Samlet beløb</stong>
          </td>
          <td class="info">
            <strong><%= danish_currency(order.total) %></strong>
          </td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>