<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: "Navn", placeholder: 'Indtast Navn', required: true %>
  <%= f.input :email, label: "E-mail", placeholder: 'Indtast E-mail' %>
  <% if @order.show_file_uploader? %>
    <%= f.input :attachments, label: "Vedhæftede filer", as: :file, input_html: {name: "order[attachments][]", multiple: 'multiple'} %>
  <% end %>
  <%= f.input :phone, label: "Telefon 1", placeholder: 'Indtast Telefon 1', required: true %>
  <%= f.input :phone2, label: "Telefon 2", placeholder: 'Indtast Telefon 2' %>
  <%= f.input :address, label: "Adresse", placeholder: 'Indtast Adresse', required: true %>
  <%= f.input :city, label: "By", placeholder: 'Indtast By', required: true %>
  <%= f.input :case_number, label: "Sagsnummer", placeholder: 'Indtast Sagsnummer', required: true %>
  <%= f.input :total_levels, label: "Antal etager", placeholder: 'Indtast Antal etager', required: true %>
  <% if @order.package.max_80_square_meters == true %>
    <span class="help-block"><small>Note: Antal kvm kan være maksimalt 80 for valgte pakke</small></span>
  <% end %>
  <%= f.input :square_meters, label: "Antal kvm", placeholder: 'Indtast Antal kvm', required: true %>
  <span id="square_meters_extra_cost" class="help-block"></span>
  <%= f.input :kind, collection: Order::ORDER_TYPES, prompt: "Vælg type", label: "Type", required: true %>

  <%= f.input :notes, label: "Noter", placeholder: 'Indtast Noter' %>
  <%= f.button :submit, "Bekræft ordre", class: "btn btn-primary" %>
<% end %>
