<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: "Navn", placeholder: 'Indtast Navn', required: true %>
  <%= f.input :email, label: "E-mail", placeholder: 'Indtast E-mail' %>
  <%= f.input :phone, label: "Telefon 1", placeholder: 'Indtast Telefon 1', required: true %>
  <%= f.input :phone2, label: "Telefon 2", placeholder: 'Indtast Telefon 2' %>
  <%= f.input :address, label: "Adresse", placeholder: 'Indtast Adresse', required: true %>
  <%= f.input :city, label: "By", placeholder: 'Indtast By', required: true %>
  <%= f.input :case_number, label: "Sagsnummer", placeholder: 'Indtast Sagsnummer', required: true %>
  <%= f.input :total_levels, label: "Antal etager", placeholder: 'Indtast Antal etager', required: true %>
  <%= f.input :square_meters, label: "Antal kvm", placeholder: 'Indtast Antal kvm', required: true, disabled: true %>
  <%= f.input :kind, collection: Order::ORDER_TYPES, prompt: "Vælg type", label: "Type", required: true %>
  <%= f.input :notes, label: "Noter", placeholder: 'Indtast Noter' %>
  <%= f.button :submit, "Opdater ordre", class: "btn btn-primary" %>
<% end %>
