<div id="order_details" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <%= render partial: 'details', locals: {order: @order} %>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <%= render 'form' %>
</div>
