<h3> <%= @orders.total_count %> orders found</h3>
</br>
<% if @orders.present? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= sortable "name", "Name", "Search" %></th>
          <th><%= sortable "case_number", "Case Number", "Search" %></th>
          <th><%= sortable "delivery_time", "Delivery Time", "Search" %></th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.case_number %></td>
            <td><%= order.delivery_time.present? ? order.delivery_time.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") : "-" %></td>
            <td><span class="label <%=order.user_label_class %>"><%= order.human_state_name.camelcase %></span></td>
            <td><%= link_to "Details", order, class: "btn btn-xs btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@orders, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm", state: params[:state]) %>
  </div>
<% end %>