<div class="row pb-20">
  <div class="col-lg-6">
    <h3> 
      Oversigt 
      <!-- <span class="label <%=@order.user_label_class %>"><%= @order.danish_state_name %></span> -->
    </h3>
  </div>
  <div class="col-lg-6">
    <h3 class="pull-right">
      <% if @order.ordered? %>
        <%= link_to "Rediger", edit_order_path(@order), class: "btn btn-info" %>
        <%= link_to "Slet", @order, method: :delete, data: {confirm: "Tryk OK for at slette ordren"}, class: "btn btn-danger" %>
      <% end %>
    </h3>
  </div>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>Senest opdateret</td>
      <td><%= @order.updated_at.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr>
      <td>Navn</td>
      <td><%= @order.name.present? ? @order.name : "-" %></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><%= @order.email.present? ? @order.email : "-" %></td>
    </tr>
    <tr>
      <td>Telefon 1</td>
      <td><%= @order.phone.present? ? @order.phone : "-" %></td>
    </tr>
    <tr>
      <td>Telefon 2</td>
      <td><%= @order.phone2.present? ? @order.phone2 : "-" %></td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td><%= @order.address.present? ? @order.address : "-" %></td>
    </tr>
    <tr>
      <td>By</td>
      <td><%= @order.city.present? ? @order.city : "-" %></td>
    </tr>
    <tr>
      <td>Sagsnummer</td>
      <td><%= @order.case_number.present? ? @order.case_number : "-" %></td>
    </tr>
    <tr>
      <td>Antal etager</td>
      <td><%= @order.total_levels.present? ? @order.total_levels : "-" %></td>
    </tr>
    <tr>
      <td>Antal kvm</td>
      <td><%= @order.square_meters.present? ? @order.square_meters : "-" %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @order.kind.present? ? @order.kind : "-" %></td>
    </tr>
    <tr>
      <td>Booket til</td>
      <td><%= @order.delivery_time.present? ? @order.delivery_time.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") : "-" %></td>
    </tr>
    <% if @order.attachments.present? %>
      <tr>
        <td>Vedhæftede filer</td>
        <td><%= "#{@order.attachments.map.with_index(1) {|attachment, index| '<a href='+attachment.url+'>Attachment #'+index.to_s+'</a>'}.join(' | ')}".html_safe %></td>
      </tr>
    <% end %>
    <tr>
      <td>Noter</td>
      <td><%= @order.notes.present? ? @order.notes : "-" %></td>
    </tr>
  </tbody>
</table>
<% if @order.completed? %>
  <%= render partial: "orders/details/photos_section", locals: {order: @order} %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <h3>Se mere</h3>
  </div>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th width="40%">Navn</th>
      <th>Antal</th>
      <th>Enhedspris</th>
      <th>Beløb</th>
    </tr>
  </thead>
  <tbody>
    <% @order.shopping_cart_items.packages.each do |cart_line_item| %>
      <tr class="active">
        <td><%= cart_line_item.item.name %></td>
        <td>x<%= cart_line_item.quantity %></td>
        <td><%= danish_currency(cart_line_item.price) %></td>
        <td><%= danish_currency(cart_line_item.subtotal) %></td>
      </tr>
      <% cart_line_item.extras.each do |cart_line_item| %>
        <tr>
          <td><%= cart_line_item.item.name %></td>
          <td>x<%= cart_line_item.quantity %></td>
          <td><%= danish_currency(cart_line_item.price) %></td>
          <td><%= danish_currency(cart_line_item.subtotal) %></td>
        </tr>
      <% end %>
      <% @order.shopping_cart_items.additions.each do |cart_line_item| %>
        <tr>
          <td><%= cart_line_item.item.note %></td>
          <td>x<%= cart_line_item.quantity %></td>
          <td><%= danish_currency(cart_line_item.price) %></td>
          <td><%= danish_currency(cart_line_item.subtotal) %></td>
          <td>
          </td>
        </tr>
      <% end %>
    <% end %>
    <br/>
    <tr>
      <td></td>
      <td colspan='2'>
        <strong>Subtotal</stong>
      </td>
      <td>
        <%= danish_currency(@order.subtotal) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan='2'>
        <strong>Moms (<%= @order.tax_pct %>%)</stong>
      </td>
      <td>
        <%= danish_currency(@order.taxes) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td colspan='2'>
        <strong>Samlet beløb</stong>
      </td>
      <td class="info">
        <strong><%= danish_currency(@order.total) %></strong>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
<%= render partial: "orders/details/comments", locals: {order: @order} %>
