<% custom_style = 'border: none !important;background: none;box-shadow: none;'%>
<div id='title_bar' style="<%=custom_style%>">
  <div class='action_items'>
    <span class='action_item'>
      <a href="<%= preview_path%>" target='_blank' style='width: 100px;text-align: center;'>Write a Comment</a>
    </span>
  </div>
</div>