<div class="comment-new-reply">
  <div class="comm-bar-holder">
    <% type = comment.commentable_type.downcase%>
    <%= form_for(([comment.commentable, comment.commentable.comments.new]), url: admin_comment_path, html: {class: "row comm-form"}) do |f| %>
      <%= f.text_area :comment, :placeholder => "Add a comment", :class => "form-control" %>
      <%= hidden_field_tag "#{comment.commentable_type.downcase}_id", comment.commentable.id %>
      <%= f.submit "Write a Comment", :class => "basic-red-btn large btn-right ladda-button btn_commt", :title => "Reply to the ." %>
    <% end %>
  </div>
</div>
