<table class="body-wrap" bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;">
  <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">
      <!-- content -->
      <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
      <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
          <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Hej <%= @user.full_name %>,</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Din ordre status er ændret til <b style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">Booket</b>.  Klik på linket nedenfor for at se flere detaljer om det.</p>
            <!-- button -->
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 0 10px; padding: 0;">
              <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: #348eda; margin: 0; padding: 0;" align="center" bgcolor="#348eda" valign="top">
                  <%= link_to "#{ENV['DOMAIN_NAME']+order_path(@order)}", style: "font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;" do %>
                    Klik her
                  <% end %>
                </td>
              </tr>
            </table>
            <!-- /button -->
            <h2> Ordre Oversigt </h2>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Senest opdateret</td>
                  <td><%= @order.updated_at.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") %></td>
                </tr>
                <tr>
                  <td>Navn</td>
                  <td><%= @order.name.present? ? @order.name : "-" %></td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td><%= @order.email.present? ? @order.email : "-" %></td>
                </tr>
                <tr>
                  <td>Telefon 1</td>
                  <td><%= @order.phone.present? ? @order.phone : "-" %></td>
                </tr>
                <tr>
                  <td>Telefon 2</td>
                  <td><%= @order.phone2.present? ? @order.phone2 : "-" %></td>
                </tr>
                <tr>
                  <td>Adresse</td>
                  <td><%= @order.address.present? ? @order.address : "-" %></td>
                </tr>
                <tr>
                  <td>By</td>
                  <td><%= @order.city.present? ? @order.city : "-" %></td>
                </tr>
                <tr>
                  <td>Sagsnummer</td>
                  <td><%= @order.case_number.present? ? @order.case_number : "-" %></td>
                </tr>
                <tr>
                  <td>Antal etager</td>
                  <td><%= @order.total_levels.present? ? @order.total_levels : "-" %></td>
                </tr>
                <tr>
                  <td>Antal kvm</td>
                  <td><%= @order.square_meters.present? ? @order.square_meters : "-" %></td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td><%= @order.kind.present? ? @order.kind : "-" %></td>
                </tr>
                <tr>
                  <td>Booket til</td>
                  <td><%= @order.delivery_time.present? ? @order.delivery_time.in_time_zone("CET").strftime("%d/%m/%Y %H:%M") : "-" %></td>
                </tr>
                <% if @order.attachments.present? %>
                  <tr>
                    <td>Vedhæftede filer</td>
                    <td><%= "#{@order.attachments.map.with_index(1) {|attachment, index| '<a href='+attachment.url+'>Attachment #'+index.to_s+'</a>'}.join(' | ')}".html_safe %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>Noter</td>
                  <td><%= @order.notes.present? ? @order.notes : "-" %></td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12">
                <h3>Se mere</h3>
              </div>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th width="40%">Navn</th>
                  <th>Antal</th>
                  <th>Enhedspris</th>
                  <th>Beløb</th>
                </tr>
              </thead>
              <tbody>
                <% @order.shopping_cart_items.packages.each do |cart_line_item| %>
                  <tr class="active">
                    <td><%= cart_line_item.item.name %></td>
                    <td>x<%= cart_line_item.quantity %></td>
                    <td><%= danish_currency(cart_line_item.price) %></td>
                    <td><%= danish_currency(cart_line_item.subtotal) %></td>
                  </tr>
                  <% cart_line_item.extras.each do |cart_line_item| %>
                    <tr>
                      <td><%= cart_line_item.item.name %></td>
                      <td>x<%= cart_line_item.quantity %></td>
                      <td><%= danish_currency(cart_line_item.price) %></td>
                      <td><%= danish_currency(cart_line_item.subtotal) %></td>
                    </tr>
                  <% end %>
                <% end %>
                <% @order.shopping_cart_items.additions.each do |cart_line_item| %>
                  <tr>
                    <td><%= cart_line_item.item.note %></td>
                    <td>x<%= cart_line_item.quantity %></td>
                    <td><%= danish_currency(cart_line_item.price) %></td>
                    <td><%= danish_currency(cart_line_item.subtotal) %></td>
                    <td>
                    </td>
                  </tr>
                <% end %>
                <br/>
                <tr>
                  <td></td>
                  <td colspan='2'>
                    <strong>Subtotal</stong>
                  </td>
                  <td>
                    <%= danish_currency(@order.subtotal) %>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan='2'>
                    <strong>Moms (<%= @order.tax_pct %>%)</stong>
                  </td>
                  <td>
                    <%= danish_currency(@order.taxes) %>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan='2'>
                    <strong>Samlet beløb</stong>
                  </td>
                  <td class="info">
                    <strong><%= danish_currency(@order.total) %></strong>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Tak og på gensyn.</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;"><a href="http://facebook.com/decentodk" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #348eda; margin: 0; padding: 0;">Like os på facebook</a></p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr>
</table>