<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t "devise.invitations.edit.header" %></h2>
  </div>
  <div class="panel-body">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%= f.hidden_field :invitation_token %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>