<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t "devise.invitations.new.header" %></h2>
  </div>
  <div class="panel-body">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <% resource.class.invite_key_fields.each do |field| %>
        <div class="form-group">
          <%= f.label field %>
          <%= f.text_field field, class: "form-control" %>
        </div>
      <% end %>
      <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
