<div class="row">
  <div class="col-lg-12 pb-20">
      <h3>Kommentarer</h3>
  </div>
  <div class="col-lg-12">
    <%= render partial: 'comments/form', locals: {commentable: order, comment: order.comments.new} %>
    <hr>
    <ul id="comments-list" class="list-unstyled">
      <%= render order.comments.recent.limit(5).all %>
      <% order.comments.recent.offset(5).each_slice(10).with_index.to_a.each do |comments, index| %>
        <div class="hidden-comments" style="display:none;">
          <%= render comments %>
        </div>
        <a href="javascript:;" class="show-more prev-comm-link <%= (order.comments.recent.offset(5).count.to_f/10).ceil == index+1 ? '' : 'hide' %>" onclick="$(this).prev('.hidden-comments').slideDown('fast');$(this).hide();$(this).prevAll('.prev-comm-link:first').show();" title = "View Previous Comments">
          Se tidligere kommentarer
        </a>
      <% end %>
    </ul>
  </div>
</div>
