<div class="row" id="order_photos_section">
  <%= form_tag "download_photos", method: "post" do %>
    <div class="col-lg-12 pb-20">
      <h3>
        Billeder
        <span class="pull-right"><%= submit_tag "Download", class: 'btn btn-primary' %></span>
        <span class="pull-right pr-7"><%= link_to "Fjern markeringer", "javascript:;", class: 'btn btn-default', id: "select-none-order-photos" %></span>&nbsp;&nbsp;&nbsp;
        <span class="pull-right pr-7"><%= link_to "Vælg alle", "javascript:;", class: 'btn btn-default', id: "select-all-order-photos" %></span>
      </h3>
    </div>
    <% order.order_admin_attachments.each do |img| %>
      <div class="col-lg-2 col-md-3 col-xs-6 thumb">
        <%= check_box_tag 'image_ids[]', img.id %>
        <%= link_to image_tag(img.image.thumb.url, class: "img-responsive", alt: ""), img.image.url, class: "thumbnail", target: "_blank" %>
      </div>
    <% end %>
  <% end %>
</div>