// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_datetimepicker";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
@import 'jquery-ui';
@import 'jquery.modal';
@import 's3_direct_upload_progress_bars';
@import 'active_admin_modal_upload';

.modal a.close-modal {
  top: -0.5px !important;
  right: 1.5px !important;
}