<p><%= t('.greeting', :recipient => @resource.email, :default => "Hej #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Nogen har anmodet om et link til at ændre din adgangskode, og du kan gøre dette via linket nedenfor.") %></p>

<p><%= link_to t('.action', :default => "Ændre mit adgangskode"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', :default => "Hvis du ikke har anmodet dette, bedes ignorere denne e-mail.") %></p>
<p><%= t('.instruction_3', :default => "Din adgangskode vil ikke ændre sig, indtil du får adgang til linket ovenfor og oprette en ny.") %></p>
